body {
    color: white;
    background-color: #333333;
}

.card {
    width: 300px;
    background-color: #929292;
    padding: 1px;
    /*display: flex;*/
    /*justify-content: center;*/
}

.list-group-item {
    background-color: #929292;
}

.orange-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7400;
    color: white;
    border-radius: 4px;
    border: 0;
}

form {
    display: flex;
    justify-content: center;
}

nav {
    background-color: #929292;
}

#logo-img {
    width: 80px;
    border: 0;
    padding: 0;
}

.slide-img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.slide-img:hover {
    border: 5px solid #FF7400;
    box-shadow: 0 0 0 10px #FF7400;
}

.previous {
    margin-left: 20px;
}

.next {
    margin-right: 20px;
}

.previous, .next {
    padding: 2px;
    width: 30px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 3em;
}

.previous:hover, .next:hover {
    box-shadow: 0 0 5px #929292;
}


/*@media (max-width: 768px) {*/
/*    .carousel-inner .carousel-item > div {*/
/*        display: none;*/
/*    }*/
/*    .carousel-inner .carousel-item > div:first-child {*/
/*        display: block;*/
/*    }*/
/*}*/

/*.carousel-inner .carousel-item.active,*/
/*.carousel-inner .carousel-item-next,*/
/*.carousel-inner .carousel-item-prev {*/
/*    display: flex;*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .carousel-inner .carousel-item-right.active,*/
/*    .carousel-inner .carousel-item-next {*/
/*        transform: translateX(33.333%);*/
/*    }*/
/*    .carousel-inner .carousel-item-left.active,*/
/*    .carousel-inner .carousel-item-prev {*/
/*        transform: translateX(-33.333%);*/
/*    }*/
/*}*/

/*.carousel-inner .carousel-item-right,*/
/*.carousel-inner .carousel-item-left {*/
/*    transform: translateX(0);*/
/*}*/